.start-page-content .page-header {
  background-color: rgba(0, 0, 0, 0.5);}
  .pt-page .section-inner {
  background-color: inherit;}
  .start-page-content .page-content {
  background: #fff;
}
.custom-page-content .page-header.color-1 {
  background-color: rgba(0, 0, 0, 0.5);}

body > footer .copyrights {
  color: #fff;
}

.site-main-menu li a, .site-main-menu li a:hover {

  color: #f5f5f5;}
  .site-title {
  color: #ffffff;}
    .site-title span {
  color: #000;}
.header.mobile-menu-hide.sticked .site-title span {
  color: #2196F3;}
  @media only screen and (min-width: 991px){
.header.sticked {
  background-color: #000;}
  
  }