.start-page-content .page-header {
  background-color: rgba(0, 0, 0, 0.5);}
  .pt-page .section-inner {
  background-color: inherit;}
  .start-page-content .page-content {
  background: #fff;
}
.custom-page-content .page-header.color-1 {
  background-color: rgba(0, 0, 0, 0.5);}

body > footer .copyrights {
  color: #fff;
}
.page-header {

  border-bottom: none;
}

.service-pg i{
  max-width: 100px;
  height: 64px;
  margin: 35px 0;
}
.block-title h3 {text-align: center; border-bottom: 1px solid black;border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}
.site-main-menu li a, .site-main-menu li a:hover {

  color: #f5f5f5;}
  .site-title {
  color: #ffffff;}
    .site-title span {
  color: #000;}
.header.mobile-menu-hide.sticked .site-title span {
  color: #2196F3;
 color: #0076d4
}
  @media only screen and (min-width: 991px){
.header.sticked {
  background-color: #000;}
  
  }
  
  .start-page-content .social-links a {
  display: inline-block;
   width: inherit; 
   height: inherit;
  border-radius: 24px;
   background:none; 
    
  }
  .start-page-content .social-links a i {
  font-size: 43px;
}
.start-page-content .social-links a {
  line-height: 65px;
  text-shadow: 2px 2px 10px #0000007a;
  transition: 0.6s;
  color: #fbfbfb;
}
.start-page-content .social-links a:hover {
  transition: 0.6s;
  color: #ffcc00;
}

.service-pg.bg-primary i {

  color: #337ab7;
}
.service-pg.bg-primary .block-title h3 span {
  color: #fafafa;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    /*overflow: scroll;*/
}

.service-image {

  background-color: #337ab7;
  color: #fff;
}

.dark {
background-color: #000;}